<span class="b title">
  {{ title }}
</span>
<form
  action="https://formspree.io/xvowlngz"
  class="contact-form"
  method="POST"
>
  <div class="input-field">
    <div class="flex justify-start"><label>Name:</label></div>
    <input id="name" type="text"/>
  </div>
  <div class="input-field">
    <div class="flex justify-start"><label>Email:</label></div>
    <input type="text" name="_replyto">
  </div>
  <div class="input-field">
    <div class="flex justify-start"><label>Message:</label></div>
    <textarea name="message"></textarea>
  </div>
  <button class="submit-button shadow-md rounded" type="submit">Send</button>
</form>